body {
  margin: 0;
}
.btn {
  background-color: transparent;
  color: black;
  width: 50%;
  height: 2rem;
  border: 1px solid #333;
  border-radius: 5px;
}
.btn:hover {
  background-color: aqua;
  color: black;
  border: 1px solid #333;
  font-size: 16px;
}
.fallback-fetching {
  text-align: center;
  font-size: 26px;
}
